<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login interface</title>
</head>

<body>
    <form name="login" onsubmit="return handleSubmit(event)">
        <input type="text" placeholder="Enter username" id="email">
        <input type="text" placeholder="Enter password" id="password">
        <button type="submit">Login</button>
    </form>
</body>

<script>
    async function handleSubmit(e) {
        e.preventDefault();
        const username = document.forms['login']['email'].value;
        const password = document.forms['login']['password'].value;

        if (username == '' || password == '') {
            alert('Please fill all the fields');
            return false;
        }
        const f = await fetch('http://localhost/login', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
                email: username,
                password: password
            })
        });

        const data = await f.json();

        const div = document.createElement('p');
        div.innerHTML = await data.message;
        document.body.appendChild(div);

        setTimeout(() => {
            div.remove();
        }, 3000);
    }
</script>

</html>