<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login interface</title>
</head>

<body>
    <section class="root">
        <div class="login">
            <h1>Sign in</h1>
            <p>Use your Arun's Network Account</p>
            <form name="login" onsubmit="return handleSubmit(event)">
                <input type="text" placeholder="Enter username" id="email">
                <a href="/forgot-email">Forgot email?</a>
                <div class="btn-next">
                    <a href="/create-account">Create account</a>
                    <button type="submit">Next</button>
                </div>
            </form>
        </div>
        <div class="register">
            <div class="l google">google</div>
            <div class="l facebook">facebook</div>
        </div>
        <div>
            <p>don't have account <a>Create here.</a></p>
        </div>
    </section>
</body>

<script>
    async function handleSubmit(e) {
        e.preventDefault();
        const username = document.forms['login']['email'].value;
        const password = document.forms['login']['password'].value;

        if (username == '' || password == '') {
            alert('Please fill all the fields');
            return false;
        }
        const f = await fetch('http://localhost/login', {
            method: 'POST',
            credentials: 'include',
            headers: {
                'Content-Type': 'application/json',
                "token": document.cookie.split('.')[1]
            },
            body: JSON.stringify({
                email: username,
                password: password,
            })
        });

        const data = await f.json();
        console.log(data)

        console.log('Cookies:', document.cookie)

        const div = document.createElement('p');
        if (data.auth == true) {
            let seconds = 3;
            setInterval(() => {
                div.innerHTML = `<mark>You are being redirected to your destination page in ${seconds--} seconds</mark>`;
            }, 1000);
            setInterval(() => {
                window.location.href = 'http://localhost/create';
            }, 3000);
        } else {
            div.innerHTML = await data.message;
        }
        document.body.appendChild(div);

        setTimeout(() => {
            div.remove();
        }, 3000);

        // genrate UTM params
        const utm = {
            utm_source: '',
            utm_medium: '',
            utm_campaign: '',
            utm_content: '',
            utm_term: ''
        };
        
    

    }
</script>

<style>
    * {
        margin: 0;
        padding: 0;
        font-family: Arial, Helvetica, sans-serif;
    }
</style>

</html>