<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>signup interface</title>
</head>

<body>
    <form name="register" onsubmit="return handleSubmit(event)">
        <input type="text" placeholder="Name" id="name">
        <input type="text" placeholder="email" id="email">
        <input type="text" placeholder="password" id="password">
        <button type="submit">Create account</button>
    </form>
</body>

<script>
    
    async function handleSubmit(e) {
        e.preventDefault();
        const username = document.forms['register']['email'].value;
        const password = document.forms['register']['password'].value;
        const name = document.forms['register']['name'].value;

        if (username == '' || password == '' || name == '') {
            alert('Please fill all the fields');
            return false;
        }
        const f = await fetch('/register', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
                email: username,
                password: password,
                name: name
            })
        });

        const data = await f.json();
        console.log(await data)

        const div = document.createElement('p');
        div.innerHTML = await data.message;
        document.body.appendChild(div);

        setTimeout(() => {
            div.remove();
        }, 3000);
    }
</script>


</html>
