@import "./mixin/reponsive";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.root_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;

    @include mobile {
        height: 100vh;
    }

    .email_wrapper {
        // root styling
        padding: 20px 10px;
        background-color: #f5f5f5;
        display: flex;
        justify-content: center;
        // when screen size is greater than 600px
        @include mobile {
            box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
            border: 1px solid rgb(112, 110, 110);
            border-radius: 5px;
            width: 500px;
            background-color: rgb(255, 255, 255);
        }
    }
}
